/*  your css code here. If applicable */
*{
	box-sizing: border-box;
}
.header{
	background-color : #011e29;
	color: white;
	text-align: center;
	/* height: 70px;	 */
	padding: 10px;
	
}
body{
	background-color : #f5f5f5;
}
div{
	background-color: white;
	border-radius: 15px;
	padding: 10px;
	text-align: center;
	gap: 10px;
	
}
.Main{
	display: flex;
	background-color: transparent;
	
}
img{
	width: 150px;
	height: 130px;
	
}
.pictorial-news-section{
	width: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.article{
	width: 270px;
	height: 250px;
}
.latest-news-section{
	width: 150px;
	height: 190px;
	/* background-color: black; */
}

